services:
  app:
    build: .
    container_name: compose-app
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    depends_on:
      - mongo
    expose:
      - "3000"
    restart: always

  mongo:
    image: mongo
    container_name: compose-mongo
    volumes:
      - mongo-data:/data/db
    restart: always

  nginx:
    image: nginx
    container_name: compose-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  mongo-data:
